extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href='https://phambinh.net/bai-viet/dua-du-an-len-may-voi-heroku-dung-de-du-an-cua-ban-tren-local/') Cách deploy ứng dụng lên Heroku
